*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image.jpg);
    background-position: center center;
    background-attachment: fixed;
    
}
.container{
    /* bottom: 50%; */
    position: absolute;
    z-index: 4;
    max-width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(67, 90, 88, 0.5);
    top: 160px;
}

.formgroup{
    margin-bottom: 10px;
    border: 2px solid rgba(67, 90, 88, 0.5);
    
}
.formgroup input{
    padding-left: 20%;
    height: 36px;
    
}
.formgrou:hover{
    border-color: black;
    border-radius: 8px;
}
.formgrou{
    position: absolute;
    left: 37%;
    border: 1px solid rgba(67, 90, 88, 0.5);
}
.formgrou #but{
   
    display: flex;
    text-align: center;
    justify-content: center;
    width: 142px;
    background-color: rgb(20, 136, 36);
    color: black;
    
    border-radius: 8px;
    border-color: rgba(67, 90, 88, 0.5);
}
.formgroup{
    position: relative;
    display: flex;
}
#ic {
    position: absolute;
    top: 2px;
    left: 3px;
    /* border: 1px solid black;
    background-color: black; */
}
#ico{
    position: absolute;
    top: 2px;
    left: 3px;
}
#icc {
    position: absolute;
    top: 2px;
    left: 9px;
}
#icon{
    position: absolute;
    top: 2px;
    left: 3px;
}
#iconn{
    position: absolute;
    top: 2px;
    left: 3px;
}
@media(max-height: 616px){
    .container{
        top: 140px;
    }
}
@media(max-height: 580px){
    .container{
        top: 100px;
    }
}
@media(max-height: 527px){
    .container{
        top: 70px;
    }
}
@media(max-height: 509px){
    .container{
        top: 25px;
    }
}
@media(max-height: 441px){
    .container{
        top: 5px;
    }
}
@media(max-height: 414px){
    .container{
        top: 3px;
        height: 350px;
    }
}
@media(max-height: 365px){
    .container{
        top: 3px;
        height: 300px;
    }
}
input:hover{
    cursor: pointer;
}
.logi{
    display: flex;
    position: absolute;
    bottom: 12px;
}